<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu principal <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Cadastrar novo paciente</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="disabled"><a href="#">Cadastrar novo usuário</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Sair</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown disabled">
                    <a href="#" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pessoa <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Editar pessoa atual</a></li>
                        <li><a href="#">Apagar pessoa atual</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Relatório da pessoa atual</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuário <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Editar usuário atual</a></li>
                        <li class="disabled"><a href="#">Apagar um usuário...</a></li>
                    </ul>
                </li>
            </ul>

        </div><!--/.nav-collapse -->
    </div>
</nav>
