extends layout

block content
  form#form(name="capitulo", method="post", address="")
    input#id(name="id", type="hidden", value="#{id}")
    div#chapter

    script.
      $(function() {
        var chapter = !{chapter}[0];
        populateCIF($("div#chapter"), chapter);
      });
