extends layout

block content
  div.panel
    h1 Selecione o domínio desejado

    div.left-container
      h2.domain Estrutura e função
      a.center(href="/paciente/#{id}/funcao_e_estrutura"): img(src="/images/humans_small.png", alt="Estrutura e função", width="300")

    div.middle-container
      h2.domain Atividade e participação
      a.center(href="/paciente/#{id}/atividade_e_participacao"): img(src="/images/activity_participation_small.png", alt="Atividade e participação")

    div.middle-container
      h2.domain Ambiente
      a(href="/paciente/#{id}/ambiente"): img(src="/images/world_small.png", alt="Ambiente")
