extends layout

block content
  div.panel
    h1 Selecione o domínio desejado

    div.contained
      h2.topic Estrutura e função
      a(href="/paciente/#{id}/estrutura"): img(src="/images/humans_small.png", alt="Estrutura e função", width="300")

    div.contained
      h2.topic Ambiente
      a(href="/paciente/#{id}/ambiente"): img(src="/images/world_small.png", alt="Ambiente")
