extends layout

block content
  h1 Passse o cursor e clique na região de interesse para selecionar o capítulo

  form#formMap(name="mapa", method="get", action="#{address}")
    p
      h2 Estrutura e função
      img(src="/images/humans_small.png", width="400")

    p
      input#face(type="submit", name="face", value="", title="Funções mentais")

    script.
      $(function() {
        $( document ).tooltip();
      });
