doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/form.css')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/jquery-ui/jquery-ui.min.js')
    link(rel='stylesheet', href="/bower_components/jquery-ui/themes/base/jquery-ui.min.css")
    base(href='/html/')

  body
    block content
    script(src='/javascripts/screen.js')
    script(src='/javascripts/comm.js')
    script(src='/javascripts/global.js')
