doctype html
html
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/jquery-ui/jquery-ui.min.js')
    link(rel='stylesheet', href="/bower_components/jquery-ui/themes/base/jquery-ui.min.css")
    title= title
    base(href='/html/')

  body
    block content
    script(src='/javascripts/global.js')
