doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/menu.css')
    script(src='/jquery/jquery.js')
    script(src='/jquery-ui/jquery-ui.min.js')
    script(src='/sprintf/sprintf.min.js')
    link(rel='stylesheet', href="/jquery-ui/jquery-ui.min.css")
    base(href='/html/')

  body
    script(src='/javascripts/global.js')
    script(src='/javascripts/screen.js')
    script(src='/javascripts/comm.js')
    block content

    script.
        //comm.bla1();
        //screen.xpt1();