doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/menu.css')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/jquery-ui/jquery-ui.min.js')
    link(rel='stylesheet', href="/bower_components/jquery-ui/themes/base/jquery-ui.min.css")
    script(src='/bower_components/sprintf/dist/sprintf.min.js')
    base(href='/html/')

  body
    script(src='/javascripts/global.js')
    script(src='/javascripts/screen.js')
    script(src='/javascripts/comm.js')
    block content

    script.
        //comm.bla1();
        //screen.xpt1();