extends layout

block content
  h1= title

  form#formLogin(name="credentials", method="post", action="#{address}")
    p Login
      if (locals.login)
        input(type="text", placeholder="Login de acesso", name="login", value="#{login}")
      else
        input(type="text", placeholder="Login de acesso", name="login", value="")
    p Senha
      input(type="password", placeholder="Senha", name="pass", value="")

    span
      button#btnSubmit(type="submit") Login
