extends layout

block content
  p
    h1 Estrutura e função
    a(href="/paciente/estrutura/#{id}"): img(src="/images/humans_small.png", alt="Estrutura e função", width="300")

    h1 Ambiente
    a(href="/paciente/ambiente/#{id}"): img(src="/images/world_small.png", alt="Ambiente")
