extends layout

block content
  p
    h1 Estrutura e função
    a(href="bla"): img(src="/images/humans_small.png", alt="Estrutura e função")

    h1 Ambiente
    a(href="bla"): img(src="/images/world_small.png", alt="Ambiente")
