/* menu.jade */

.panel {
  width: 100%;
  margin: auto;
}

.left-container {
  width: 350px;
  float: left;
  position: relative;
}

.middle-container {
  width: 350px;
  float: left;
  position: relative;
  margin-left: 100px;
}

.topic {
  width: 100%;
  text-align: center;
}

#chapter {
  width: 1000px;
}

#b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8 {
  position: absolute;
  background-color: Transparent;
  cursor: crosshair;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border: solid 1px gray;
}

#b1 {
  top: 80px;
  left: 103px;
  width: 10px;
}

#b2 {
  top: 165px;
  left: 170px;
  width: 10px;
}

#b3 {
  top: 115px;
  left: 103px;
  width: 10px;
}

#b4 {
  top: 185px;
  left: 107px;
  width: 10px;
}

#b5 {
  top: 250px;
  left: 100px;
  width: 10px;
}

#b6 {
  top: 280px;
  left: 102px;
  width: 10px;
}

#b7 {
  top: 350px;
  left: 133px;
  width: 10px;
}

#b8 {
  top: 470px;
  left: 140px;
  width: 10px;
}
