body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*
 * Table stuff
 */
td,th {
 text-align: center;
 background-color: lightgrey;
}

.fix-radio-left {
  position: relative;
  top: -15px;
  left: -7px;
  height: 36px;
}

.fix-radio {
  position: relative;
  top: -15px;
  left: 2px;
  height: 36px;
}

.fix-selector {
  position: relative;
  left: 7px;
  height: 36px;
}

.topic {
  padding-top: 15px;
}

.fix-radio-down {
  position: relative;
  top: 6px;
}

.element-text {
  text-align: left;
}

.subgroup {
  padding-left: 15px;
}

.toggleVisible {
  display: none;
}
