body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*
 * Table stuff
 */
td,th {
 text-align: center;
 background-color: lightgrey;
}

#face {
  position: absolute;
  top: 160px;
  left: 160px;
  width: 10px;
  background-color: blue;
}
