body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*
 * Table stuff
 */
td,th {
 text-align: center;
 background-color: lightgrey;
}

.fix-down {
  position: relative;
  top: 14px;
}

.topic {
  padding-top: 15px;
}
